if ARCH_SNAPDRAGON

config SYS_SOC
	default "snapdragon"

config SYS_MALLOC_F_LEN
	default 0x2000

config SPL_SYS_MALLOC_F_LEN
	default 0x2000

# Common snapdragon board init code
config SNAPDRAGON_COMMON
	bool
	default n
	select USB_HOST
	select IOMMU
	select ARM_SMMU
	select DM_REGULATOR
	select DM_REGULATOR_GPIO

config LNX_KRNL_IMG_TEXT_OFFSET_BASE
	default 0x80000000

choice
	prompt "Snapdragon board select"

config TARGET_DRAGONBOARD410C
	bool "96Boards Dragonboard 410C"
	select BOARD_LATE_INIT
	select ENABLE_ARM_SOC_BOOT0_HOOK
	help
	  Support for 96Boards Dragonboard 410C. This board complies with
	  96Board Open Platform Specifications. Features:
	  - Qualcomm Snapdragon 410C SoC - APQ8016 (4xCortex A53, Adreno 306)
	  - 1GiB RAM
	  - 8GiB eMMC, uSD slot
	  - WiFi, Bluetooth and GPS module
	  - 2x Host, 1x Device USB port
	  - HDMI
	  - 20-pin low speed and 40-pin high speed expanders, 4 LED, 3 buttons

config TARGET_DRAGONBOARD820C
	bool "96Boards Dragonboard 820C"
	help
	  Support for 96Boards Dragonboard 820C. This board complies with
	  96Board Open Platform Specifications. Features:
	  - Qualcomm Snapdragon 820C SoC - APQ8096 (4xKyro CPU)
	  - 3GiB RAM
	  - 32GiB UFS drive

config TARGET_SDM845
	bool "Qualcomm Snapdragon 845-based board"
	select LINUX_KERNEL_IMAGE_HEADER
	select SNAPDRAGON_COMMON
	select MISC_INIT_R
	help
	  Support for boards based on the Qualcomm Snapdragon 845 SoC.
	  These devices feature a Snapdragon 845 Soc, 4-8GiB of RAM, and
	  64-512GiB of UFS storage.

	  The following boards are supported by this target:
	  - 96Boards Dragonboard 845c
	  - Samsung Galaxy S9 (starqltechn)
	  - OnePlus 6/6T (enchilada/fajita)
	  - SHIFT6mq (axolotl)

	  However, most boards should work provided a fairly standard devicetree
	  that is compatible with the upstream kernel is used.

config TARGET_QCS404EVB
	bool "Qualcomm Technologies, Inc. QCS404 EVB"
	select LINUX_KERNEL_IMAGE_HEADER
	select SNAPDRAGON_COMMON
	help
	  Support for Qualcomm Technologies, Inc. QCS404 evaluation board.
	  Features:
	  - Qualcomm Snapdragon QCS404 SoC
	  - 1GiB RAM
	  - 8GiB eMMC, uSD slot

endchoice

source "board/qualcomm/dragonboard410c/Kconfig"
source "board/qualcomm/dragonboard820c/Kconfig"
source "board/qualcomm/sdm845/Kconfig"
source "board/qualcomm/qcs404-evb/Kconfig"

endif
