// SPDX-License-Identifier: GPL-2.0+
/*
 * Samsung S9 SM-G9600 (starqltechn) board device tree source
 *
 * (C) Copyright 2021 Dzmitry Sankouski <dsankouski@gmail.com>
 *
 */

/dts-v1/;

#include "sdm845.dtsi"

/ {
	model = "SHIFT SHIFT6mq";
	compatible = "shift,axolotl", "qcom,sdm845", "qcom,mtp";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		serial0 = &debug_uart;
	};

	memory {
		device_type = "memory";
		reg = <0 0x80000000 0 0xffffffff
		       1 0x80000000 0 0xfc7a0000>;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	framebuffer: framebuffer@9D400000 {
		compatible = "simple-framebuffer";
		reg = <0 0x9D400000 0 (2160 * 1080 * 4)>;
		width = <1080>;
		height = <2160>;
		stride = <(1080 * 4)>;
		format = "a8r8g8b8";
	};

	soc: soc {
		serial@a84000 {
			status = "okay";
		};

		pinctrl_north@3900000 {
		};
	};
};

#include "starqltechn-uboot.dtsi"
